<p id="notice"><%= notice %></p>

<%= link_to "Logout", '/logout', method: 'post' %>

<h1>Bins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bins.each do |bin| %>
    <tr>
      <td><%= bin.name %></td>
      <td><%= bin.url %></td>
      <td><%= link_to 'Show', "/bins/#{bin.url}" %></td>
      <td><%= link_to 'Edit', "/bins/#{bin.url}/edit" %></td>
      <td><%= link_to 'Destroy', "/bins/#{bin.url}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bin', new_bin_path %>