<p id="notice"><%= notice %></p>

<div style="display:none;" id="bin_id"><%= @bin.url %></div>

<p>
  <strong>Name:</strong>
  <%= @bin.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bin.url %>
</p>

<p>
  <strong>Webhook Url:</strong>
  <%= @bin.webhook_url %>
</p>

<table>
  <thead>
    <tr>
      <th>HTTP-Method</th>
      <th>Timestamp</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="table_data">
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.http_method %></td>
        <td><%= request.created_at %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', "/bins/#{@bin.url}/edit" %> |
<%= link_to 'Back', bins_path %>