<% flash.each do |type, msg| %>
<div>
  <%= msg %>
</div>
<% end %>

<h1>Request Bean Login</h1>

<%= form_with url: '/login', local: true do |f| %>
<div class="my-4">
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>
</div>
<div class="mt-4 mb-2">
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
</div>
<%= f.submit 'Login' %>
<% end %>

<p>Need an account?</p>
<%= link_to 'Sign up', new_user_path %>